.App {
  background-color: #111;
  min-height: 100vh;
}

.App-header {
  background-color: #141414;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-footer {
  background-color: #141414;
  padding: 20px;
  color: white;
  text-align: center;
}